<section class="google-ads-panel">    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4371705184577956"
     crossorigin="anonymous"></script>
    <!-- Google Ads Multiplex Horizontal -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="autorelaxed"
        data-ad-client="ca-pub-4371705184577956"
        data-ad-slot="3287600782"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>    
</section>